.portfolioTitle{
    font-size: 50px;
    border-bottom: black double;
    border-top: black double;
    border-width: 6px;
    background-color: rgba(255, 255, 255, 0.30);
}

.projectElement{
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.800);
}

.imgProject{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.imgProjectCarousel{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1%;
}

.carousel-control-next span{
    background-color: black;
    border-radius: 50%;
}

.carousel-control-prev span{
    background-color: black;
    border-radius: 50%;
}

.projectLink :hover{
    color: rgb(16, 47, 202);
}


/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
    .imgProject , .imgProjectCarousel{
        max-height: 250px;
    }
    .portfolioTitle{
        font-size: 35px;
    }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 768px) {
    .imgProject , .imgProjectCarousel{
        max-height: 300px;
    }
    .portfolioTitle{
        font-size: 40px;
    }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 991px) {
    .imgProject , .imgProjectCarousel{
        max-height: 300px;
    }
    .portfolioTitle{
        font-size: 45px;
    }
    .projectElement{
        max-width: 47%;
    }
}

/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
    .imgProject , .imgProjectCarousel{
        max-height: 320px;
    }
    .projectElement{
        max-width: 47%;
    }
}
  
  /*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
    .imgProject , .imgProjectCarousel{
        max-height: 340px;
    }
    .projectElement{
        max-width: 47%;
    }
}