#authorImg {
  border-radius: 50%;
  border: 2px solid #ffffff1a;
  box-shadow: 9px 10px 10px 0px rgba(0, 0, 0, 0.75);
  object-fit: cover;
}

.articlePrincipal {
  opacity: 88%;
}

.mainSection {
  min-height: 90vh;
}

.mainButtons{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .65s;
}

.mainButtons p{
  position: relative;
  z-index: 2;
}

.mainButtons::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #49412b;
  transition: all .65s;
}

.mainButtons:hover{
  color: #fff;
  text-decoration: none;
}

.mainButtons:hover::after{
  width: 100%;
}

.socialButtons{
  transition: all .5s;
  color: #333;
}

.socialButtons:hover{
  color: #d01dd6;
  transform: scale(1.15);
}

/*MEDIA QUERIES*/

/*X-SMALL DEVICES PUBLICIDAD*/
@media all and (max-width: 576px) {
  #authorImg {
    width: 80%;
  }
  #titulos {
    margin-top: 0px;
  }
  #titulos h1 {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.253);
    padding: 5px;
  }
}

/*SMALL DEVICES*/
@media all and (min-width: 576px) and (max-width: 768px) {
  #authorImg {
    width: 100%;
  }
  #titulos {
    margin-top: 0px;
  }
  #titulos h1 {
    font-size: 42px;
    text-align: center;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.253);
    padding: 5px;
  }
}

/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 991px) {
  #authorImg {
    width: 100%;
  }
  #titulos {
    margin: auto 0;
  }
  #titulos h1 {
    font-size: 48px;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.253);
  }
}

/*LARGE DEVICES*/
@media all and (min-width: 991px) and (max-width: 1200px) {
  #authorImg {
    width: 100%;
  }
  #titulos {
    margin: auto 0;
  }
  #titulos h1 {
    font-size: 55px;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.253);
  }
}

/*XTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
  #authorImg {
    width: 100%;
  }
  #titulos {
    margin: auto 0;
  }
  #titulos h1 {
    font-size: 65px;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.253);
  }
}
