:root {
  --timeout: 600ms;
}

.honeycombmenu-enter {
  top: var(--menu-starting-top);
  opacity: 0;
}

.honeycombmenu-enter-active {
  transition: all var(--timeout) ease-in-out;
  -webkit-transition: all var(--timeout) ease-in-out;
  opacity: 100%;
}

.honeycombmenu-exit {
  opacity: 100%;
}

.honeycombmenu-exit-active {
  transition: all var(--timeout) ease-in-out;
  -webkit-transition: all var(--timeout) ease-in-out;
  opacity: 0;
}

.exoFont{
  font-family: 'Exo 2', sans-serif;
}

.unicaFont{
  font-family: 'Unica One', cursive;
}